.container{
    border: solid black 1rem;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 2fr 1fr 1fr;

    .box1 {
        background-color: red;
    }
    .box2 {
        background-color: yellow;
    }
    .box3 {
        background-color: yellowgreen;
    }
    .box4 {
        background-color: darkgreen;
    }
    .box5 {
        background-color: blue;
    }
    .box6 {
        background-color: purple;
    }









}