.container{
    display: grid;
    grid-template-areas:"header header header header header header"
                        "sider sider main main main main"
                        "sider sider main main main main";
    .header--container{
        display: flex;
    }

    .body--container{

        .main--container{

        }

        .sidebar--container{

        }
    }

    .footer{

    }
}